<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="/static/css/addThemeSubjectStyle.css" th:href="@{/css/addThemeSubjectStyle.css}">
</head>
<body>

<div class="container">
    <form th:action="@{addThemeSubject}" th:object="${themeSubject}" method="post">
        <h1>Enter name theme subject</h1>
        <input type="text" th:field="*{name}" maxlength="70" required autofocus><br>
        <div class="select">
                <select th:field="*{subject}">
                    <option value="">Choose a subject</option>
                    <option th:each="subject : ${subjectList}"
                            th:value="${subject.id}"
                            th:text="${subject.nameSubject}"></option>
                </select>
        </div>
        <button type="submit">Add</button>
    </form>
</div>

</body>
</html>