<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="/static/css/addAnswersStyle.css" th:href="@{/css/addAnswersStyle.css}">
</head>
<body>

<div class="container">
    <form th:action="@{addAnswers}" th:object="${question}" method="post">
        <input type="text" th:field="*{nameQuestion}" maxlength="500" placeholder="Enter question" required autofocus><br>
        <input type="text" th:field="*{answer.correctAnswer}" maxlength="150" placeholder="Enter correct answer" required><br>
        <input type="text" th:field="*{answer.inCorrectAnswer1}" maxlength="150" placeholder="Enter incorrect answer" required><br>
        <input type="text" th:field="*{answer.inCorrectAnswer2}" maxlength="150" placeholder="Enter incorrect answer" required><br>
        <input type="text" th:field="*{answer.inCorrectAnswer3}" maxlength="150" placeholder="Enter incorrect answer" required><br>
        <input type="text" th:field="*{answer.describeAnswerIfChoiceWrong}" maxlength="150" placeholder="Enter describe why the answer was chosen wrong" required><br>
        <div class="select">
            <select th:field="*{themeSubject}" required>
                <optgroup th:each="subject : ${subjectList}" th:label="${subject.nameSubject}">
                    <option th:each="themeSubject : ${subject.themeSubjects}"
                            th:value="${themeSubject.id}"
                            th:text="${themeSubject.name}"></option>
                </optgroup>
            </select>
        </div>
        <button type="submit">Add</button>
    </form>
</div>

</body>
</html>