<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="/static/css/menuAnswersStyle.css" th:href="@{/css/menuAnswersStyle.css}">
</head>
<body>

<div class="container">
    <div class="info">
        <label>If you want to add one question</label>
        <a th:href="@{addAnswers}">Add question</a><br>
    </div>


    <label id="label">If you want to add list questions, please take to file</label>
    <form th:action="@{addFileAnswers}" method="post" enctype="multipart/form-data">
        <input type="file" id="file" name="multipartFile" value="Upload file">
        <button type="submit">Add from file</button>
    </form>
</div>

</body>
</html>