<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="/static/css/home.css" th:href="@{/css/home.css}">
    <link rel="stylesheet" type="text/css" href="/static/css/navAdminStyle.css" th:href="@{/css/navAdminStyle.css}">
</head>
<body>

<sec:authentication var="principal" property="principal"/>

<div class="container">
    <div class="admin" sec:authorize="hasAuthority('ADMIN')">
        <th:block th:replace="navbar/navbarForAdminPage :: navAdmin" />
        <div class="admin-name">
            <h1 th:text="${'Hello, ' + userName}"></h1>
        </div>
    </div>

    <div class="user" sec:authorize="hasAuthority('USER')">
        <div class="info">
            <h1 th:text="'Hello, ' + ${userName}"></h1>
            <a id="logout" th:href="@{/logout}">Log out</a><br>
        </div>
        <div id="board">
            <div id="subjects" th:each="subject : ${subjects}">
                <a id="subject"  th:text="${subject.nameSubject}" th:href="@{/{nameSubject} (nameSubject = ${subject.nameSubject})}"></a>
            </div>
        </div>
    </div>
</div>

</body>
</html>