<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<sec:authentication var="principal" property="principal"/>

<div sec:authorize="isAuthenticated()">
    <div sec:authorize="hasAuthority('ADMIN')">
        <p>ADMIN</p>
        <p>Hello <span th:text="${userName}"></span></p>
        <a th:href="@{admin/addSubject}">Add subject</a>
        <a th:href="@{admin/addThemeSubject}">Add theme subject</a>
        <a th:href="@{admin/answers}">Menu choose add question</a>
    </div>

    <div sec:authorize="hasAuthority('USER')">
        <p>USER</p>
        <p>Hello <span th:text="${userName}"></span></p>

        <div th:each="subject : ${subjects}">
            <a th:text="${subject.getNameSubject()}" th:href="@{quiz/{nameSubject} (nameSubject = ${subject.nameSubject})}"></a>
        </div>
    </div>
</div>

</body>
</html>