html, body{
    font-family: 'Roboto', sans-serif;
    font-size: 100%;
    height: 100%;
    overflow-x: hidden;
    background: url(../img/bg.jpg) no-repeat 0px 0px;
    background-size:cover;
}

.container{
    width: 30%;
    margin:5em auto;
    text-align: center;
    background:rgba(171, 119, 157, 0.27);
    padding: 42px 35px;
}

table {
    border-collapse: collapse;
    width: 100%;
}

thead {
    background-color: #4caf50;
    color: white;
}

tbody{
    background-color: white;
}

td, th {
    border: 1px solid #999;
    padding: 0.5rem;
    text-align: left;
}

#edit{
    float: right;
}

#user{
    margin-left: 30px;
}

#name{
    margin-top: 10px;
    display: inline-block;
    color: white;
    font-family: 'Righteous', serif;
    font-size: 3em;
    text-shadow: .03em .03em 0 hsla(230,40%,50%,1);
}

#back {
    display: inline-block;
    padding: 15px 25px;
    font-size: 24px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: black;
    background-color: #f0bcb4;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
}
#back:hover, #back:focus {
    background: green;
    border-color: green;
    color: #fff;
    font-size: 24px;
    font-weight: bold;
}

@media(max-width:940px)
{
    .container {width: 50%;}
}

@media(max-width:550px)
{
    .container {width: 90%; padding: 5%;}
}