<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="/static/css/changePasswordStyle.css" th:href="@{/css/changePasswordStyle.css}">
</head>
<body>
<form th:action="@{reset}" method="post">
    <div class="container">
        <input type="hidden" name="token" th:value="${resetToken}">
        <span id="errorLink" class="text-danger align-middle" th:if="${me}" th:text="${me}"></span><br>
        <input class="ss" type="password" name="password" minlength="6" placeholder="Haslo" required autofocus/>
        <div >
            <button class="reset" type="submit" value="change">Change password</button><br>
        </div>
    </div>
</form>

</body>
</html>