<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link href="https://fonts.googleapis.com/css?family=Josefin+Sans" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="../static/css/quizFormStyle.css" th:href="@{/css/quizFormStyle.css}">
</head>
<body>
<div id="container">
    <h1 th:text="${nameTheme}"></h1>
    <br/>
    <div id="quiz"></div>
    <div class="button" id="next"><a>Next</a></div>
    <div class="button" ><a th:href="@{/}">Exit</a></div>
</div>


<script src="https://code.jquery.com/jquery-3.4.0.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.9.1/underscore-min.js"></script>
<script th:inline="javascript"> let arrayQuestions = [[${questionList}]]</script>
<script src="/static/js/quiz.js" th:src="@{/js/quiz.js}"></script>
</body>
</html>
