<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div>
    <form method="post" th:action="@{/result}">
        <div th:each="question : ${questionList}">
            <ul id = "ssw">
                <input type="hidden" name="questionId" th:value="${question.id}" th:text="${question.nameQuestion}">

                    <li id="s1"><input type="radio" th:name="'question_' + ${question.id}" th:value="${question.answers.correctAnswer}" th:text="${question.answers.correctAnswer}"><br></li>
                    <li id="s2"><input type="radio" th:name="'question_' + ${question.id}" th:value="${question.answers.answers1}" th:text="${question.answers.answers1}"><br></li>
                    <li id="s3"><input type="radio" th:name="'question_' + ${question.id}" th:value="${question.answers.answer2}" th:text="${question.answers.answer2}"><br></li>
                    <li id="s4"><input type="radio" th:name="'question_' + ${question.id}" th:value="${question.answers.answer3}" th:text="${question.answers.answer3}"><br></li>
                </ul><br>
            </div>
        <button type="submit">Submit</button>
    </form>
</div>
</body>
</html>